<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.gentleduo.springmvc.dao.impl.UserMgrDaoImpl"> -->
<mapper namespace="usermgr">
	<!-- 插入产品 -->
	<insert id="insertUserInfo" parameterType="User">
		insert into user
		(name,sex,password)
		values
		(#{name,jdbcType=VARCHAR},
		#{sex,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR})
	</insert>

</mapper>